[workspace]
resolver = "2"

members = [
    "shared",
    "systemd",
]

default-members = [
    "shared",
    "systemd"
]

[workspace.package]
version = "1.0.0"
edition = "2024"

[profile.release]
opt-level = "s"
lto = true
