name: "docs"

on:
  push:
    branches: [master]

env:
  FORCE_COLOR: 1

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: samueldr/lix-gha-installer-action@v2025-10-27
      - run: nix-build -A docs.html
      - uses: actions/upload-pages-artifact@v4
        with:
          path: result/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
